{{define "base"}}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <meta
            http-equiv="X-UA-Compatible"
            content="ie=edge"
        />
        <meta
            name="Description"
            content="Enter your description here"
        />
        <link
            href="/static/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        />
        <title>{{template "title" .}} - Go Fasting</title>
    </head>

    {{template "nav" . }}

    <body>
        <div
            class="container py-4"
            style="max-width: 640px"
        >
            {{with .Flash}} {{template "flash-message" .}}
            {{end}}
            <main>{{template "main" .}}</main>

            {{template "footer" .}}
        </div>
        <script
            src="/static/js/bootstrap.min.js"
        ></script>
    </body>
</html>
{{end}}
