{{define "nav"}}
<header>
    <nav class="navbar">
        <div class="container" style="max-width: 640px">
            <a class="navbar-brand" href="#">
                <img
                    src="/static/img/logo.png"
                    alt="Logo"
                    width="45"
                />
            </a>
            {{if .IsAuthenticated}}

            <form
                action="/signout"
                method="POST"
                class="d-inline"
            >
                <button
                    type="submit"
                    class="nav-link btn btn-link"
                >
                    Logout
                </button>
            </form>
            {{else}}
            <nav class="nav">
                <a class="nav-link" href="/signin"
                    >Sign in</a
                >
                <a class="nav-link" href="/signup"
                    >Create Account</a
                >
            </nav>

            {{end}}
        </div>
    </nav>
</header>
{{end}}
