{{define "nav"}}
<header>
    <nav class="navbar">
        <div class="container" style="max-width: 640px">
            <a class="navbar-brand" href="#">
                <img
                    src="/static/img/logo.png"
                    alt="Logo"
                    width="45"
                />
            </a>
        </div>
    </nav>
</header>
{{end}}
